#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-list {
  line-height: 1;
}

.article-card {
  border: 7px solid;
  padding: 3px;
  margin-top: auto;
  margin-bottom: 13px;
}

.article-title {
  text-decoration: underline;
}
